@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

html, body {
    max-width: 700px;
    margin: auto;
    font-family: 'Roboto Mono';
}

.container > * {
    margin: 10px;
    padding: 10px;
}

.file {
    background: aliceblue;
}

.block {
    background: azure;
    padding: 0 0px 5px 5px
}

.file > h2 {
    margin: 10px;
}

.failiure {
    background: #ffb1b1;
}

.success {
    background: #9fd89f
}

.message {
    pre-wrap;
    background: bisque;
    color: red;
    margin-left: 20px;
    padding: 5px;
}

.test {
    margin: 5px;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #242424;
        color: #cfcfcf;
    }

    .file {
        background: #323232
    }

    .block {
        background: #403848
    }

    .success {
        background: #234723;
    }

    .failiure {
        background: #591340
    }

    .message {
        background: #484848;
    }

    button {
        background: #454545;
        color: #c3c3c3
    }

}